name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      FACTORY_API_KEY: ${{ secrets.FACTORY_API_KEY }}
      DB_HOSTNAME: 127.0.0.1
      DB_USER: root
      DB_CONNECTION_SECRET: ${{ secrets.DB_CONNECTION_SECRET }}
      DB_NAME: pizza
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    services:
      mysql:
        image: mysql:8.0.29
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.DB_CONNECTION_SECRET }}
          MYSQL_DATABASE: pizza
        ports:
          - "3306:3306"
        options: >-
          --health-cmd "mysqladmin ping -p$MYSQL_ROOT_PASSWORD" --health-interval 10s --health-start-period 10s --health-timeout 5s --health-retries 10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm test

      - name: Generate coverage badges
        uses: jpb06/coverage-badges-action@main
        with:
          coverage-summary-path: coverage/coverage-summary.json
          no-commit: true

      - name: Commit coverage badge
        run: |
          if git status --porcelain badges | grep .; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add badges
            git commit -m "chore: update coverage badge"
            git push
          fi

      - name: set version
        id: set_version
        run: |
          version=$(date +'%Y%m%d.%H%M%S')
          echo "version=$version" >> "$GITHUB_OUTPUT"
          printf '{"version": "%s" }' "$version" > src/version.json

      - name: Update coverage
        run: |
          coverage=$(jq '.total.lines.pct' coverage/coverage-summary.json)
          color=$(echo "$coverage < 80" | bc | awk '{if ($1) print "red"; else print "green"}')
          curl -s -X POST "https://pizza-factory.cs329.click/api/badge/${{ secrets.NET_ID }}/jwtpizzaservicecoverage?label=Coverage&value=$coverage%25&color=$color" -H "authorization: bearer ${{ secrets.FACTORY_API_KEY }}"

      - name: Create dist
        run: |
          mkdir dist
          cp Dockerfile dist
          cp -r src/* dist
          cp *.json dist

      - name: Update distribution artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs: build
    env:
      version: ${{needs.build.outputs.version}}
    steps:
      - name: Download distribution artifact
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist

      - name: Create OIDC token to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/${{ secrets.CI_IAM_ROLE }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up machine emulation
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker build
        uses: docker/setup-buildx-action@v3

      - name: Build and push container image
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: 'jwt-pizza-service'
        run: |
          docker buildx build --platform=linux/arm64 \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:latest \
            -t $ECR_REGISTRY/$ECR_REPOSITORY:$version \
            --push dist
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$version" >> $GITHUB_OUTPUT
